* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #D28998;

}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* customizing brand */
header .company-brand h1 {
    margin-left: 2rem;
    font-size: 5rem;
    font-family: "Send Flowers", cursive;
}

/* caixa de pesquisa */
.box-search {
    display: flex;
    align-items: center;
    box-shadow: 4px 3px #00000062;
}

header .box-search input {
    width: 40rem;
    height: 4rem;
    border: none;
    font-size: 2rem;
    padding-left: 1rem;

}

.box-search button {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 0px 5px 0px 0px;
    background-color: #fff;
}

.box-search button img {
    width: 50%;
    height: 50%;
    transition: .2s;

}

.box-search button img:hover {
    scale: .8;
    transform: rotate(100deg);
    transition: .2s;
}

/* foto do usuario */
header .btn-menu {
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px 10px 0px 0px;
}

.btn-menu img {
    cursor: pointer;
    width: 70%;
    height: 70%;
    padding: 1px;
}

.btn-menu {
    background: none;
    border: none;
}


main ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    background-color: #c9c9c9;
}

main li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 2px solid;
    border-radius: 20px;
    width: 11rem;
    background-color: #fff;
    animation: carrosel 3s infinite ;
}

main li p {
    font-size: 1.1rem;
    padding: 15px;
    font-weight: 400;
    font-family: "Faculty Glyphic", sans-serif;
    font-style: normal;
}

main li img {
    width: 100%;
    height: 100%;
}

main li button {
    cursor: pointer;
    background-color: #D28998;
    border: none;
    width: 109px;
    padding: 10px 0px;
    margin: 10px 25px;
}


@keyframes carrosel {
    0% {
        right:  0px;
    }

    100% {
        right: 110rem;
    }
}